.directory-list .directory-item.macro .thumbnail.sidebar-macros-execute:hover,
.directory-list .directory-item.macro .profile.sidebar-macros-execute:hover {
    border: 1px solid var(--color-border-highlight-alt, red);
    box-shadow: 0 0 10px var(--color-shadow-highlight, #ff6400) inset;
}

.directory-list .directory-item.macro .thumbnail.sidebar-macros-execute,
.directory-list .directory-item.macro .profile.sidebar-macros-execute {
    border: 1px solid transparent;
}