.directory-list .directory-item.macro .thumbnail:hover,
.directory-list .directory-item.macro .profile:hover {
    border: 1px solid var(--color-border-highlight-alt, red);
    box-shadow: 0 0 10px var(--color-shadow-highlight, #ff6400) inset;
}

.directory-list .directory-item.macro .thumbnail,
.directory-list .directory-item.macro .profile {
    border: 1px solid transparent;
}